<!-- Show a table of article results based on the date query to NYTIMES search API -->
<h1>Articles / <%=@date%></h1>

<!-- Table includes hyperlinked headline, the lead paragraph of the article and a 'like' button -->
<table border="1px black">
  <% @articles_hash.each_with_index do |article, index| %>
    <tr>  
      <td>
        <a href="<%=article["web_url"]%>"><%= article["headline"]["main"]%></a>
      </td>
    </tr>
    <tr>
      <td>
        <%= article["lead_paragraph"] %>
      </td>
      <td>
        <form action="<%=articles_path%>" method="post">
          <input type="hidden" name="headline" value="<%=article["headline"]["main"]%>">
          <input type="hidden" name="url" value="<%=article["web_url"]%>">
          <input type="hidden" name="lead_paragraph" value="<%=article["lead_paragraph"]%>">
          <input type="hidden" name="date" value="<%= @date %>">
          <%= token_tag form_authenticity_token %>
          <button id="like_<%= index %>">like</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<!-- Provide a link back to the home search page. Do another search -->
<h5><a href="<%=root_path%>">Home</a></h5>
<%= link_to "Back", :back %>
