<!-- Show a table of article results based on the date query to NYTIMES search API -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/">LiveFromNY</a></li>
      <li><a class="navbar-brand" href="/">Home</a></li>
      <li><a class="navbar-brand" href="<%=user_path(current_user)%>">Profile</a></li>
      <li><p class="navbar-text">Signed in as <%=current_user.email%></p></li>
    </ul>
  </div>
</nav>

<!-- Table includes hyperlinked headline, the lead paragraph of the article and a 'like' button -->
<div id="articles_table">
  <table class="table">
      <caption id="table_header">
        <h1><%=@date_formatted%> in the Big Apple</h1>
      </caption>
    <% @articles_hash.each_with_index do |article, index| %>
      <tr>  
        <td>
          <a href="<%=article["web_url"]%>"><strong><%= article["headline"]["main"]%></strong></a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <%= article["lead_paragraph"] %>
        </td>
        <td>
          <form action="<%=articles_path%>" method="post">
            <input type="hidden" name="headline" value="<%=article["headline"]["main"]%>">
            <input type="hidden" name="url" value="<%=article["web_url"]%>">
            <input type="hidden" name="lead_paragraph" value="<%=article["lead_paragraph"]%>">
            <input type="hidden" name="date" value="<%= @date_formatted %>">
            <%= token_tag form_authenticity_token %>
            <button class="btn btn-default" id="like_<%= index %>">Save</button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>