<!-- Current user's show page --> 
<!-- Show current user's 'liked' articles as a list of hyperlinked headlines -->
<!-- Button to delete user's 'liked' articles -->

<h1><%= @user.email %></h1>

<a href="<%=edit_user_registration_path%>">Edit User info</a>

<h3>Saved Articles</h3>
<table>
  <% @user.articles.each do |article| %>
    <tr>
      <td>
        <a href="<%= article.url %>"><%= article.headline %></a>
      </td>
      <td>
        <form action="<%=article_path(article)%>" method="post">
            <input name="_method" type="hidden" value="delete">
            <%= token_tag form_authenticity_token %>
            <button class="btn btn-danger">delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<!-- Link to previous page / Home -->
<%= link_to "Back", :back %>

<h5><a href="<%=root_path%>">Home</a></h5>