<!-- Current user's show page --> 
<!-- Show current user's 'liked' articles as a list of hyperlinked headlines -->
<!-- Button to delete user's 'liked' articles -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
      <a class="navbar-brand" href="/">LiveFromNY</a>
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="<%=user_path(current_user)%>">Profile</a>
  </div>
</nav>

<div class="jumbotron" id="user_profile">
  <h1><%= @user.email %></h1>

  <a href="<%=edit_user_registration_path%>">Edit Profile</a>

  <h3>Saved Articles</h3>
  <ul class="list-group">
    <% @user.articles.each do |article| %>
      <li class="list-group-item">
        <a href="<%= article.url %>"><%= article.headline %></a>
        <form action="<%=article_path(article)%>" method="post">
            <input name="_method" type="hidden" value="delete">
            <%= token_tag form_authenticity_token %>
            <button class="btn btn-danger">delete</button>
        </form>
      </li> 
    <% end %>
  </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <form action="<%=destroy_user_session_path%>" method="post">
    <input type="hidden" name='_method' value='delete'>
    <button class="btn btn-default" id="log_out">Log out</button>
  </form>
</nav>